<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>
        Habitaciones
    </title>
    <link rel="stylesheet" href="{% static 'usuario/css/adminV.css' %} ">
</head>

<body>
    <div class="Habitacion">



        <center><h1><b>Habitaciones</b></h1></center><hr>
    </div>
    <table style="width: 50%;">
        <tr>
            <td style="width: 10%;">
                <form method="POST" action="">
                    {% csrf_token %}
                        <label><b>Numero Habitacion</b></label><label class="validation-error hide" id="fullNameValidationError">Todos los campos son obligatorios</label>
                        <input type="text" name="fullName" id="nHabitacion">
                    
                   
                        <label><b>tipo habitacion</b></label>
                        <input type="text" name="empCode" id="tipoHabitacion">
                    
                        <label><b>metro Cuadrado</b></label>
                        <input type="text" name="salary" id="metroCuadrado">
                  
                        <label><b>Baños</b></label>
                        <input type="text" name="btn1" id="baños">
                   
                        <label><b>camas</b></label>
                        <input type="text" name="city" id="camas">
                    <br>
                    <input  type="submit" value="actualizar">
                   
                    
                </form>
                
              
               <a href="{% url 'administrador' % }" class="boton">Atras</a>
                        
                
                    
                
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                        {% for a in Habitaciones %}

            <tr>
              <td>{{ a.nHabitacion }}</td>
              <td>{{ a.tipoHabitacion }}</td>
              <td>{{ a.metroCuadrado }}</td>
              <td>{{ a.baños }}</td>
              <td>{{ a.camas }}</td>
            </tr>

            {% endfor %}
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <script src="{% static 'usuario/js/script.js' %} "></script>
   
    </div>
</body>

</html>